// Navigation
.navigation {
  display: flex;
  background-color: #343A40;
  justify-content: space-between;
  align-items: baseline;
  border-radius: 5px;
  flex-wrap: wrap;

  nav-brand {
    padding: 10px;
    @media only screen and (max-width: 375px) {
      padding: 10px 5px 10px;
    }

    a {
      text-decoration: none;
      color: white;
      &:hover{
        color: #4CA846;
      }
    }
  }

  ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    li{
      display: flex;
      align-items: center;

      a{
        text-decoration: none;
        padding: 10px;
        color: #7A949F;
        &:hover{
          color: white;
        }
        @media only screen and (max-width: 375px) {
          padding: 10px 5px 10px;
        }
      }
    }
  }
}

// Product List
.product_list{

  ul{
    display: inline-flex;
    padding: 0;


    li{
      justify-items: start;
      list-style-type: none;
      background-color: #E9ECEF;
      border-radius: 5px;
      padding: 5px;
      border: 1px solid gray;

      a{
        text-decoration: none;
        color: #343A40;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

// Single Product
.single_product{
  h2{
    @media only screen and (max-width: 375px) {
      font-size: 24px;
    }
  }

  h4{
    @media only screen and (max-width: 375px) {
      font-size: 18px;
    }
  }
}

// Product Details
.product_details{
  border:1px solid gray;
  margin: 15px 0 15px;
  border-radius: 5px;

  button{
    margin-top: 15px;
  }

  .inner_single_product_and_submit{
    background-color: #E9ECEF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .inner_review_list{
    background-color: #E9ECEF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    h1{
      margin-top: 15px;
    }
  }
}

// Review List
.review_list{
  h1{
    @media only screen and (max-width: 475px) {
      font-size: 18px;
    }
  }

  ul{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    background-color: white;

    li{
      list-style-type: none;
    }
  }
}

.star_rating{
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
  button{
    margin-top: 0;
  }

  label{
    margin: 0;
    @media only screen and (max-width: 768px) {
      margin-bottom: 5px;
    }
  }

  input{
    border-radius: 5px;
    margin: 0 10px;
    @media only screen and (max-width: 768px) {
      width: 85%;
      margin-bottom: 5px;
    }
    &::placeholder{
      padding: 5px;
    }

    &:focus{
      outline: none;
    }

  }
}
// Register and Login
.login_register_view{
  background-color: #E9ECEF;
  border: 1px solid gray;
  margin: 15px 0 15px;
  display: flex;
  justify-content: center;
  border-radius: 5px;

  div{
    margin: 15px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    justify-content: center;


    p{
      padding: 15px;
      margin: 0 ;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media only screen and (max-width: 375px) {
        font-size: 12px;
      }

      input{
        border-radius: 5px;
        margin-left: 10px;
        @media only screen and (max-width: 375px) {
          width: 85%;
        }

        &:focus{
          outline: none;
        }
      }
    }
  }
}

// Single Review
.single_review{
  @media only screen and (max-width: 575px) {
    font-size: 12px;
    word-wrap: break-word;
  }

  div{

    p{
      margin: 0;
      @media only screen and (max-width: 575px) {
        display: none;
      }
    }
  }
}
